.navbarLogo {
    position: relative;
    top: 27px;
}

.nav.flex-column {
    position: relative;
    background-color: #1c2000;
    bottom: 0;
    height: 100%;
    padding: 0 10px 0;
    width: 120px;
}

.nav-link {
    position: relative;
    bottom: 10px;
    top: 65px;
    height: 85px;
}

.principal-title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 45px;
    text-align: left;
    position: relative;
    color: #1b1f01;
}

.secundary-title {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    text-align: left;
    color: #1b1f01;
    padding-bottom: 60px;
}

.time {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #1b1f01;
    padding-right: 20px;
}

.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
    text-align: right;
}

.footer.col {
    position: fixed;
    left: 0;
    bottom: 0 !important;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #bebebd 100%);
}

.footer-title {
    margin-top: 10px;
    text-align: center;
    position: relative;
    line-height: 16px;
    color: #1b1f01;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.notification-style {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #1c2000;
}

.notification-style-approval {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #5d6e02;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 525px;
    height: 600px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}